html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
.main{
    background-color: rgb(27,65,118) !important;
}
.match{
    background-color: rgb(241,101,34) !important;
}
.presenters{
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)), url("images/verrati.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
  p {
    color: #474747;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
/*   
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
   */
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }
  
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #calendar {
    max-width: 900px;
    margin: 0 auto; }
    #calendar .fc-view-container {
      padding: 30px;
      background-color: #fff;
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  